{% extends "base.html" %}
{% block content-title %}Calendar{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="app-heading">
    <div class="app-title">
      <div class="title">{{title}}<span class="highlight"></span></div>
      <div class="description"></div>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
    <div class="card-header">{{view.title}} - {{ object.name }}
    </div>
      <div class="card-body">
        <div class="row">
          <table class="table">
              <thead>
                <tr>
                  <th>Field</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Name:</th>
                  <td>{{ object.name }}</td>
                </tr>
                <tr>
                  <th>Street Name:</th>
                  <td>{{ object.street_name }}</td>
                </tr>
                <tr>
                  <th>Street Number:</th>
                  <td>{{ object.street_number }}</td>
                </tr>
                <tr>
                  <th>Zip Code:</th>
                  <td>{{ object.zip_code }}</td>
                </tr>
                <tr>
                  <th>City:</th>
                  <td>{{ object.city }}</td>
                </tr>
                <tr>
                  <th>Country:</th>
                  <td>{{ object.country }}</td>
                </tr>
                <tr>
                  <th>Phone:</th>
                  <td>{{ object.phone }}</td>
                </tr>
                <tr>
                  <th>Email:</th>
                  <td>{{ object.email }}</td>
                </tr>
                <tr>
                  <th>Code:</th>
                  <td>{{ object.code }}</td>
                </tr>
              </tbody>
        	</table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
