{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="app-heading">
    <div class="app-title">
      <div class="title">{{title}}<span class="highlight"></span></div>
      <div class="description"></div>
    </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
    <div class="card-header">{{title}}
    </div>
      <div class="card-body">
        <div class="row">
					<div class="col-md-6">
					<form method="post" action="{{ action_url }}">
			    {% csrf_token %}
          {{ invoice.id }}
					<div class="form-group">
            {{ invoice.name.errors }}
						<label class="col-md-3 control-label">{{ invoice.name.label }}</label>
						<div class="col-md-9">
							{{ invoice.name }}
						</div>
					</div>
					<div class="form-group">
            {{ invoice.status.errors }}
						<label class="col-md-3 control-label">{{ invoice.status.label }}</label>
						<div class="col-md-9">
							{{ invoice.status }}
						</div>
					</div>
					<div class="form-group">
            {{ invoice.company.errors }}
						<label class="col-md-3 control-label">{{ invoice.company.label }}</label>
						<div class="col-md-9">
							{{ invoice.company }}
						</div>
					</div>
					<div class="form-group">
            {{ invoice.customer.errors }}
						<label class="col-md-3 control-label">{{ invoice.customer.label }}</label>
						<div class="col-md-9">
							{{ invoice.customer }}
						</div>
					</div>
					<div class="form-group">
            {{ invoice.create_date.errors }}
						<label class="col-md-3 control-label">{{ invoice.create_date.label }}</label>
						<div class="col-md-9">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">
									<i class="fa fa-calendar" aria-hidden="true"></i></span>
								{{ invoice.create_date }}
							</div>
						</div>
					</div>
					<div class="form-group">
            {{ invoice.payment_date.errors }}
						<label class="col-md-3 control-label">{{ invoice.payment_date.label }}</label>
						<div class="col-md-9">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">
									<i class="fa fa-calendar" aria-hidden="true"></i></span>
								{{ invoice.payment_date }}
							</div>
						</div>
					</div>

          {{ invoice.literal_value.errors }}
          <label>{{ invoice.literal_value.label }}</label>
			    {{ invoice.literal_value }}

          {% load formset_tags %}

        <div id="formset" data-formset-prefix="{{ invoice_detail.prefix }}">
            {{ invoice_detail.management_form }}
            {{ invoice_detail.non_form_errors }}
            <div data-formset-body>
                <!-- New forms will be inserted in here -->
                {% for form in invoice_detail %}
                <div data-formset-form>
                  {{ form.id }}
                      <div class="form-group">
                        {{ form.service.errors }}
                        <label class="col-md-3 control-label">{{ form.service.label }}</label>
                        <div class="col-md-9">
                          <div class="input-group">
                            {{ form.service }}
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        {{ form.hour.errors }}
                        <label class="col-md-3 control-label">{{ form.hour.label }}</label>
                        <div class="col-md-9">
                          <div class="input-group">
                            {{ form.hour }}
                          </div>
                        </div>
                      </div>
                      <div class="hidden">{{ form.DELETE }}</div>
                      <button type="button" class="btn btn-default" data-formset-delete-button>Delete form</button>
                    </div>
                {% endfor %}
            </div>

            <!-- The empty form template. By wrapping this in a <script> tag, the
            __prefix__ placeholder can easily be replaced in both attributes and
            any scripts -->
            <script type="form-template" data-formset-empty-form>
                {% escapescript %}

                <div data-formset-form>
                  {{ invoice_detail.empty_form.id }}
                      <div class="form-group">
                        {{ invoice_detail.empty_form.service.errors }}
                        <label class="col-md-3 control-label">{{ invoice_detail.empty_form.service.label }}</label>
                        <div class="col-md-9">
                          <div class="input-group">
                            {{ invoice_detail.empty_form.service }}
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        {{ invoice_detail.empty_form.hour.errors }}
                        <label class="col-md-3 control-label">{{ invoice_detail.empty_form.hour.label }}</label>
                        <div class="col-md-9">
                          <div class="input-group">
                            {{ invoice_detail.empty_form.hour }}
                          </div>
                        </div>
                      </div>
                      <div class="hidden">{{ form.DELETE }}</div>
                      <button type="button" class="btn btn-default" data-formset-delete-button>Delete form</button>
                    </div>

                {% endescapescript %}
            </script>



					    <div class="btn-group">
					        <input type="button" value="Add another" class="btn btn-default" data-formset-add>
					        <input type="submit" value="Update invoice" class="btn btn-default"/>
					        <a class="btn btn-default" href="{{ print_url }}">Print</a>
					    </div>
            </div>
          </div>



				</form>
        <script>jQuery(function($) {
            $("#formset").formset({
              animateForms: true,
              reorderMode: 'dom',
            });
            $( ".datepicker" ).datepicker({
              beforeShowDay: $.datepicker.noWeekends
            });
            $('select').select2();
        });</script>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
