{% block sidenav %}
	<div class="col-sm-3 sidenav">
      <h4>SprintBIZ</h4>
      <ul class="nav nav-pills nav-stacked">
				<li {% if request.get_full_path == "/dashboard/" %}class="active"{% endif %}><a href="/dashboard/">Dashboard</a></li>
        <li {% if request.get_full_path == "/invoice/" %}class="active"{% endif %}><a href="/invoice/">Invoice list</a></li>
        <li {% if request.get_full_path == "/invoice/new/" %}class="active"{% endif %}><a href="/invoice/new/">New invoice</a></li>
				<li {% if request.get_full_path == "/calendar/" %}class="active"{% endif %}><a href="/calendar/">Timescheet</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search ...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
{% endblock %}
